.idea/gradle.xml
.idea/dictionaries
.idea/libraries/*.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/*.iws


static/ico/*.ico
cdn/ico/*.ico
static/logo/*.svg
cdn/logo/*.svg
static/fonts/*.woff2
cdn/fonts/*.woff2
static/fonts/*import.css
cdn/fonts/*import.css