/* Font imports */
@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(../fonts/novecentoBook_import.css);
@import url(../fonts/novecentoBold_import.css);
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  display: table;
  font-family: Cabin, 'Segoe UI', sans-serif;
  font-size: 12pt;
}
/* Printer-Specific */
@page {
  margin: 0;
  @top-left-corner {
    content: none;
  }
  @top-left {
    content: none;
  }
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
  @top-right-corner {
    content: none;
  }
  @bottom-left-corner {
    content: none;
  }
  @bottom-left {
    content: none;
  }
  @bottom-center {
    content: none;
  }
  @bottom-right {
    content: none;
  }
  @bottom-right-corner {
    content: none;
  }
}
/* Header Components */
nav#header {
  display: table-header-group;
  left: 0;
  right: 0;
  width: auto;
  min-width: 8.5in;
}
nav#header > div#headerColorBar,
nav#header > div#logo {
  display: table-row;
}
nav#header > ul#topNav {
  display: none;
}
nav#header > div#headerColorBar svg {
  width: 8.5in;
  height: 0.2in;
  top: 0;
  left: 0;
  display: table-row;
}
nav#header div#pageLogo > img#printLogo,
nav#header div#pageLogo > div.printPageTitle {
  height: 1in;
}
nav#header div#pageLogo > img#printLogo {
  float: left;
  margin: 0 .3in 0 1in;
}
nav#header div#pageLogo > div.printPageTitle {
  right: 0;
  vertical-align: middle;
  text-align: right;
  font-size: 0.4in;
  margin: 0.8in 1in .2in .3in;
}
nav#header div#pageLogo > div.printPageTitle > span#printPageSubtitle {
  font-family: Cabin, 'Segoe UI', sans-serif;
  display: block;
  font-size: 0.2in;
  opacity: 0.5;
  text-transform: none;
}
/* Footer Components */
nav#footer {
  display: table-footer-group;
  left: 0;
  right: 0;
  width: auto;
  min-width: 8.5in;
}
nav#footer > ul {
  display: none;
}
nav#footer > div#footerColorBar {
  height: 0.2in;
  overflow: hidden;
}
nav#footer > div#footerColorBar svg {
  width: 8.5in;
  height: 1in;
  bottom: 0;
  left: 0;
  display: table-row;
}
nav#footer > span#printPageNumber {
  display: block;
  height: 0.8in;
  padding: 0 1in;
  text-align: right;
  opacity: 0.5;
}
nav#footer > span#printPageNumber::after {
  content: counter(page);
  counter-increment: page;
}
body::after {
  content: "   ";
  display: table-cell;
  height: 11in;
}
/* Background-layers */
div.background {
  display: none;
}
/* Body Components */
main {
  display: table-row-group;
  color: #000;
}
main > * {
  padding: 0 1in;
  line-height: 1.5em;
}
h1#pageTitle {
  display: none;
}
nav#header > div#pageLogo > div.printPageTitle,
h4 {
  font-family: 'Novecento wide Book', sans-serif;
  text-transform: uppercase;
}
h2,
h3 {
  font-family: 'Novecento wide Bold', sans-serif;
  text-transform: uppercase;
}
h2 {
  margin: 12pt 0 0 0;
  border: solid white 0;
  border-top: solid #f8c12c 2pt;
  color: #4f81bd;
  page-break-after: avoid;
}
h3,
h4 {
  color: #409fd8;
  margin: 0;
  page-break-after: avoid;
}
a:link,
a:visited,
a:hover,
a {
  color: #000;
  text-decoration-color: #4f81bd;
}
p {
  padding: 0 0 10pt;
  margin: 0;
  text-indent: .25in;
  orphans: 2;
  widows: 2;
}
ol,
ul {
  padding: 0 0 10pt .45in;
  orphans: 2;
  widows: 2;
}
p > ol,
p > ul {
  margin: .1em 0;
  padding: 0 0 0 .45in;
}
li {
  text-indent: 0;
  padding: 0 0 0 1em;
}
blockquote {
  line-height: 1.5em;
  color: #4f81bd;
  font-family: 'Novecento wide Book', sans-serif;
  font-variant: small-caps;
  text-align: center;
  margin: .1in 10%;
  border-style: solid;
  border-color: #4f81bd white;
  border-width: 1pt 0;
  padding: 10pt;
}
blockquote cite {
  font-style: italic;
  text-wrap: none;
}
blockquote strong {
  font-family: 'Novecento wide Bold', sans-serif;
}
blockquote p {
  text-indent: 0;
}
.noPrint {
  display: none;
}
/* Expansion toggles */
main#corset > section.expandable > a.expandable-toggle {
  display: none;
}
